* {
  margin: 0;
  border: 0;
  padding: 0;
  display: 0;
}

a {
  color: #fff;
}

body {
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}

.section-feedback {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  position: absolute;
}

.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  padding: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field>button {
  width: 100px;
  line-height: 30px;
  border-radius: 5px;
  background: rgb(87, 87, 236);
  color: #fff;
}

.field>input {
  padding: 10px;
  height: 10px;
  border-radius: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
}